<h1>
  Hello {{user}}!
</h1>
<ul>
  <li>Age: {{age}}</li>
  <li>Email: {{email}}</li>
  <li>Address: {{address.street}}, {{address.city}}, {{address.state}}</li>
</ul>

<button (click)="onClick()">Click me</button>
<button (click)="toggleEdit()" *ngIf=!isEdit>Edit user</button>
<button (click)="toggleEdit()" *ngIf=isEdit>Hide Edit</button>

<div *ngIf=isEdit>
  <h1>Edit User</h1>
  <form>
    <div>
      <label for="name">Name: </label>
      <br />
      <input type="text" [(ngModel)]="user" name="user" />
    </div>
    <div>
      <label for="age">Age: </label>
      <br />
      <input type="number" [(ngModel)]="age" name="age" />
    </div>
    <div>
      <label for="email">Email: </label>
      <br />
      <input type="text" [(ngModel)]="email" name="email" />
    </div>
    <div>
      <label for="street">Street: </label>
      <br />
      <input type="text" [(ngModel)]="street" name="street" />
    </div>
    <div>
      <label for="city">City: </label>
      <br />
      <input type="text" [(ngModel)]="city" name="city" />
    </div>
    <div>
      <label for="state">State: </label>
      <br />
      <input type="text" [(ngModel)]="state" name="state" />
    </div>
  </form>
</div>

<h1>Hobbies: </h1>
<form (submit)="addHobby(hobbyVal.value)">
  <div>
    <label for="hobby">Hobby:</label>
    <input type="text" #hobbyVal />
  </div>
</form>

<li *ngFor = "let hobby of hobbies; let i = index">
  {{i + 1}}: {{hobby}}
  <button (click)="deleteHobby(hobby)">X</button>
</li>

<ul>
  <li *ngFor="let post of posts"><strong>{{post.title}}</strong><br />{{post.title}}</li>
</ul>